In [1]:
import pandas as pd

In [6]:
tottenham = pd.read_csv("tottenham.csv")
tottenham

,Date,Opponent,Is_Home,Result,Goals,Opponent_Goals,Possession,Shots,Shots_On_Target,Passes_Completed,...,Opponent_Corners,Opponent_Crosses,Opponent_Fouls,Opponent_Offsides,Shot_Efficiency,Season,Month,Day_of_Week,Last5_Avg_Goals,Last5_Win_Rate
0,2011-07-30 17:00:00,Brighton & Hove Albion,0,1,3,2,50,12,5,423,...,6,2,15,2,0.416667,2011,7,6,3.0,1.0
1,2011-08-06 19:15:00,Athletic Bilbao,1,1,2,1,60,7,6,466,...,3,4,20,1,0.857143,2011,8,6,2.5,1.0
2,2012-08-01 02:00:00,New York Red Bulls,0,1,2,1,55,14,3,433,...,2,1,21,0,0.214286,2012,8,3,2.0,1.0
3,2012-08-05 17:00:00,Watford,0,1,1,0,54,5,3,378,...,1,1,21,1,0.600000,2012,8,7,1.5,1.0
4,2012-08-09 23:10:00,Valencia,0,-1,0,2,40,6,2,315,...,4,6,19,2,0.333333,2012,8,4,1.0,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,2025-03-13 23:00:00,AZ Alkmaar,1,1,3,1,60,17,4,443,...,2,6,12,2,0.235294,2025,3,4,1.8,0.4
695,2025-03-16 16:30:00,Fulham,0,-1,0,2,43,12,4,351,...,6,7,13,1,0.333333,2025,3,7,1.0,0.4
696,2025-04-03 22:00:00,Chelsea,0,-1,0,1,50,8,2,386,...,4,5,7,5,0.250000,2025,4,4,1.0,0.2
697,2025-04-06 16:00:00,Southampton,1,1,3,1,51,13,8,424,...,1,2,20,1,0.615385,2025,4,7,1.6,0.2
698,2025-04-10 22:00:00,Eintracht Frankfurt,1,0,1,1,56,10,6,468,...,3,2,15,2,0.600000,2025,4,4,1.4,0.4